<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}

    <p class="copyright">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright 
       {{ now.Format "2006"}} 
       <span class="split">
        {{ partial "svgs/heart.svg" (dict "fill" "#bbbbbb" "width" 15 "height" 15 ) }}
       </span>
       {{ .Site.Params.Author }}
    {{ end }}
    </p>
    <p class="powerby">
        Powered by <a href="http://www.gohugo.io/">Hugo</a>. Modified version of the <a href="https://github.com/nodejh/hugo-theme-cactus-plus">mini</a> theme.
    </p>
</footer>
